---
import { Button, Collapse, Spoiler, Timeline } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import MyInput from '@/components/clipboard/input.astro'
import MyTextarea from '@/components/clipboard/textarea.astro'
---

<PageLayout title='云剪切板'>
  <p>此博客提供云剪切板服务。</p>
  <div style='display: flex; padding: 0.5rem; width: 100%; flex-direction: column; gap: 10px'>
    <MyInput placeholder='请输入名称' label='名称' id='cpbd-id' />
    <MyTextarea placeholder='显示或输入内容' name='content' id='cpbd-content' />
    <Button title='查询' class='w-fit' id='query-btn' />
    <Button title='提交' class='w-fit' variant='ahead' id='submit-btn' />
  </div>
</PageLayout>

<script>
  import { ClipboardClient } from '@/utils/clipboard.ts'

  function toast(message: string) {
    document.dispatchEvent(
      new CustomEvent('toast', {
        detail: {
          message,
          time: 5000
        }
      })
    )
  }

  const input = document.querySelector('#cpbd-id') as HTMLInputElement
  const textarea = document.querySelector('#cpbd-content') as HTMLTextAreaElement
  const clipboard = new ClipboardClient('https://cpbd.api.jerrylab.top')

  document.querySelector('#query-btn')?.addEventListener('click', () => {
    clipboard.get(input.value).then(
      (res) => {
        toast('获取成功')
        textarea.value = res
      },
      (rej) => {
        toast('信息过期或不存在')
        console.error(rej)
      }
    )
  })
  document.querySelector('#submit-btn')?.addEventListener('click', () => {
    clipboard.update(input.value, textarea.value).then(
      (res) => {
        toast('更新成功')
      },
      (rej) => {
        clipboard.create(textarea.value, { id: input.value }).then(
          (res) => {
            toast('创建成功')
          },
          (rej) => {
            toast('提交失败')
            console.error(rej)
          }
        )
      }
    )
  })
</script>
