*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ui-sans-serif,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}

body {
    margin: 0;
    display: flex;
    place-items: stretch;
    min-width: 320px;
    min-height: 100vh;
}

#app {
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    text-align: start;
    flex-direction: column;
}

.fl-c{
    display: flex;
    flex-direction: column;
}


.selectIcon{
    margin-right: 10px;
}

.selectDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.md-editor-code span{
    font-family: "Consolas", "Courier New", "monospace" !important;
}