*{
    margin: 0;
    padding: 0;
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    place-items: stretch;
    min-width: 320px;
    min-height: 100vh;
}

#app {
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    text-align: start;
    flex-direction: column;
}

